version: '3.2'

services:
  elasticsearch:
    build:
      context: docker-elk/elasticsearch/
      args:
        ELK_VERSION: $ELK_VERSION
    volumes:
      - type: bind
        source: ./docker-elk/elasticsearch/config/elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
      - type: volume
        source: elasticsearch
        target: /usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
      ELASTIC_PASSWORD: changeme
      # Use single node discovery in order to disable production mode and avoid bootstrap checks.
      # see: https://www.elastic.co/guide/en/elasticsearch/reference/current/bootstrap-checks.html
      discovery.type: single-node
    networks:
      - elk

  logstash:
    build:
      context: docker-elk/logstash/
      args:
        ELK_VERSION: $ELK_VERSION
    volumes:
      - type: bind
        source: ./docker-elk/logstash/config/logstash.yml
        target: /usr/share/logstash/config/logstash.yml
        read_only: true
      - type: bind
        source: ./docker-elk/logstash/pipeline
        target: /usr/share/logstash/pipeline
        read_only: true
    ports:
      - "5044:5044"
      - "5000:5000/tcp"
      - "5000:5000/udp"
      - "9600:9600"
    expose: [5000]

    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - elk

    depends_on:
      - elasticsearch

  kibana:
    build:
      context: docker-elk/kibana/
      args:
        ELK_VERSION: $ELK_VERSION
    volumes:
      - type: bind
        source: ./docker-elk/kibana/config/kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true
    ports:
      - "5601:5601"
    networks:
      - elk
    depends_on:
      - elasticsearch

  redis_cache:
    container_name: redis_cache
    image: "redis:alpine"
    restart: always
    ports:
      - 6379:6379
    expose: [6379]
    environment:
      - REDIS_URL=redis://cache

  flask-gateway:
    image: flask-gateway:latest
    container_name: gateway2
    ports:
      - 5003:5003
    expose: [5003]
    # wait 2 minutes for elk stack then run gateway
    command: bash -c "sleep 120 && python -u gateway.py"

    depends_on:
      - redis_cache
      - elasticsearch
      - logstash
      - kibana

    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:5601"]
        interval: 40s
        timeout: 10s
        retries: 10
    networks:
      - elk

networks:
  elk:
    driver: bridge

volumes:
  elasticsearch:
